.footer{
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  padding-top: 80px;
  padding-bottom: 30px;

  @include respond-above(sm){
    padding-top: 160px;
    padding-bottom: 120px;
    align-items: center;
    flex-direction: row;
  }
}
