.section{
  padding-top: 60px;
  padding-bottom: 20px;
  flex-direction: column;

  &__intro{
    font-size: 1.25rem;
    margin: 0 0 20px;
    display: flex;
    align-items: center;
    width: 100%;

    .dash{
      margin-right: 20px;
      display: inline-block;
      height: 3px;
      width: 24px;
      border-radius: 25px;
      overflow: hidden;
      background: #2c2851;
    }
  }

  &__title{
    font-size: 5rem;
    font-weight: 700;
    margin: 0;
  }

  &__subtitle{
    font-size: 1.25rem;
  }

  &__title__row{
    display: flex;
    align-items: center;
    width: 100%;
    margin: 30px 0 60px;
  }

  &__title__row--centered{
    flex-direction: column;
    text-align: center;
  }

  &__button{
    margin-left: auto;
    color: $dark-blue;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.25rem;

    i{
      margin-left: 20px;
    }
  }

  &__link{
    color: $purlpe;
    font-size: 1.75rem;
    margin: 30px 0 10px;
    font-weight: 600;
    text-decoration: none;

    i{
      transform: rotate(-45deg);
    }
  }

}