.navbar{
  padding-top: 10px;
  padding-bottom: 10px;
  align-items: center;

  @include respond-above(xs){
    padding-top: 70px;
    padding-bottom: 40px;
  }
}

.logo{
  display: flex;
  align-items: center;

  img{
    max-width: 40px;
  }

  h2{
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0 12px;
  }
}

.nav{
  padding-top: 15px;

  &__link{
    color: $dark-blue;
    font-size: 14px;
    text-decoration: none;
    font-weight: 600;
    margin-left: 10px;
    padding: 5px;
    transition: color 0.15s ease-in-out;

    &:hover, &:active{
      color: $pink;
    }

    &:first-child{
      margin-left: 0;
    }


  }

  &--social{
    margin-top: 30px;
  }
  @include respond-above(xs) {
    margin-left: auto;
    padding-top: 0;
  }

  @include respond-above(sm){

    &--footer{
      margin-left: 0;
    }

    .nav__link{
      margin-left: 30px;
      font-size: 16px;

      &--social{
        font-size: 1.75rem;
        margin-left: 20px;
      }
    }

    &--social{
      margin-left: auto;
      margin-top: 0;
    }
  }
}