.square-image{
  position: relative;

  &__content{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__button{
    position: absolute;
    right: 0;
    bottom: 0;
    text-decoration: none;
    color: $dark-blue;
    font-size: 1em;
    font-weight: 700;
    padding: 30px;
    background: white;

    span{
      margin-right: 20px;
    }
  }

  &__icon{
    position: absolute;
    right: 0;
    top: 0;
    color: white;
    background: black;
    font-size: 3rem;
    padding: 6px 8px;
  }

  &::after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }

  &--wide::after{
    padding-bottom: 70%;
  }

  &--long::after{
    padding-bottom: 130%;
  }
}