// Typography
$font-family-sans-serif: 'Aileron', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Layout
$side-padding:15px;

// Colors
$bg-gradient-start: #fef8f9;
$bg-gradient-end: #fbfbfb;
$dark-blue: #2c2851;
$light-blue: #737091;
$pink: #efa8a8;

