// Typography
$font-family-sans-serif: 'Aileron', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Layout
$side-padding:16px;

// Colors
$bg-gradient-start: #fef8f9;
$bg-gradient-end: #fbfbfb;
